body {
  /*
  background-image: url(./img/download.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-position: top center;
  background-size: cover;
*/
  height: 100vh;
  background: var(--bg-url) no-repeat center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: #ffff;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --text-color: rgb(255, 255, 255);
  --bg-url: url(./img/bg-desktop.jpg);
  --surface-color: #ffffff80;
  --background-hover: rgba(221, 218, 218, 0.562);
  --highlight-color: rgba(150, 150, 150, 0.753);
}
.light {
  --text-color: rgb(0, 0, 0);
  --bg-url: url(./img/bg-desktop-light.jpg);
  --stroke-color: rgb(255, 255, 255);
  --background-hover: rgba(197, 195, 195, 0.76);
  --highlight-color: rgba(197, 195, 195, 0.76);
}

#container {
  width: 600px;
  margin: auto;
  margin: 50px auto 0px;
}
#profile img {
  display: block;
  width: 112px;
  margin: auto;
  margin-top: 10px;
}
#profile {
  text-align: center;
}
a {
  display: block;
}
#profile p {
  margin-block: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* links */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px 0;
}
ul li a {
  color: var(--text-color);

  display: flex;
  justify-content: center;
  padding: 24px 20px;
  background: rgba(230, 230, 230, 0.3);
  border: 2px solid var(--stroke-color-dark-mode, rgb(143, 140, 140));
  font-size: 150%;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  text-decoration: none;
  font-weight: bold;
}
ul li a:hover {
  border: 1.5px solid #6e6d6e;
  background: var(--background-hover);
  transition: background 0.3s ease-in-out;
}

/* social media icons */
#social-links {
  display: flex;
  gap: 32px;
  padding: 24px 0;
  font-size: 40px;
  justify-content: center;
}
#social-links a:hover {
  border: 1.5px solid #6e6d6e;
  background: var(--highlight-color);
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1.5px solid transparent;
}
footer {
  padding: 24px 0px;
  text-align: center;
  font-size: 22px;
}
footer a {
  display: inline;
}
